.item{
    margin-top: 52px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 35px;
    .h2{
    
    }

    .id{
        float: left;
    }
}

.add-button{
    display: block;
    margin: 0 auto;
}

.new-product-form{
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 25px;
   /*  display: none; */
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;

    h3{
        margin-top: 0;
    }

    label{
        width: 120px;
        font-size: 20px;
    }

    input{
        margin-top: 10px;
        width: 300px;
        &:last-child{
            margin-bottom: 10px;
        }
    }
    .close-btn{
        border-radius: 5px;
        margin: 0;
        background-color: #337AB7;
        opacity: 1;
    }
    .submit{
        margin-left: 15px;
        width: 130px;
        border-radius: 5px;
        background-color: #337AB7;
        color: #fff;
    }
}