.description{
    float: left;
     margin-left: 3%;
     padding: 0;
     text-transform: uppercase;
     a{
         color: #fff;
     }
     
     h2{
          float: left;
         line-height: 35px;
         font-size: 19px;
         height: 100%;
     }
     h6{
         margin-left: 15px;
         float: left;
         line-height: 16px;
     
     }
    
 }


 
@media(max-width: 844px){
    .top-menu{
        display: none;
        li{
            float: none;
        }
    }
    .touchmenu{
        img{
            max-width: 100%;
            display: inline-block;
            height: auto;
            margin-top: 20px;
        }
        margin-right: 2%;
        display: block;
        float: right;
        width: 8%;
        height: 100%;
        
         
         
     }
}

@media(max-width: 480px){
        .description{
            h2{
                font-size: 16px;
            }
            h6{
            
                font-size: 10px;
            }
        }
        .touchmenu{
            img{
                margin-top: 28px;
            
            }
           
        }
}

@media(max-width: 425px){
        .description{
            margin-left: 15%;
            h2{
                font-size: 14px;
            }
            h6{
                position: absolute;
                margin-top: 40px;
                margin-left: 25px;
                font-size: 8px;
            }
        }

        .touchmenu{
            img{
                margin-top: 30px;
            
            }
            margin-right: 10%;
        }
}
