.cover{
    background: url('../../components/body/img/test8.jpg') no-repeat center #fff;
         background-position: center center;
         opacity: 1;
         background-size: cover;
         height: 1500px;
}