.post{
    // text-align: center;
     margin: 0 auto;
     font-size: 25px;
     background: rgba(30, 43, 43, 0.6);
     color: #fff;
     list-style-type: none;
     margin-top: 80px;
    
   //  border: 1px solid #000; 
   /*   margin-bottom: 40px; */
     

     .title{
         display: block;
         font-size: 30px;
         font-weight: bold;
         text-align: center;
     }

     .text{
         display: block;
         font-size: 27px;
        // font-weight: bold;
         text-align: center;
     }

     .author{
         display: block;
         float: right;
         font-size: 27px;
        // font-weight: bold;
         width: 120px;
         text-align: center;

     } 
     
 }
